<div class="container">



<section class="home-section color-dark bg-gray" style="padding-top: 50px" ng-if="loading === false && exist">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-custom">
                <div class="panel-heading" >
                    <h3 class="panel-title col-lg-2">Temperatures</h3>
                    <!--<div class="btn-group" style="padding-right: 50px">-->
                        <!--<label class="btn btn-custom">Day</label>-->
                        <!--<label class="btn btn-custom">Night</label>-->
                        <!--<label class="btn btn-custom">All</label>-->
                    <!--</div>-->

                    <div class="btn-group">
                        <label class="btn btn-custom" ng-change="getTemperatureChart(tempType)" ng-model="tempType" btn-radio="'h'">Hour</label>
                        <label class="btn btn-custom" ng-change="getTemperatureChart(tempType)" ng-model="tempType" btn-radio="'d'">Day</label>
                        <label class="btn btn-custom" ng-change="getTemperatureChart(tempType)" ng-model="tempType" btn-radio="'w'">Week</label>
                        <label class="btn btn-custom" ng-change="getTemperatureChart(tempType)" ng-model="tempType" btn-radio="'m'">Month</label>
                        <label class="btn btn-custom" ng-change="showCustomDate(tempType)" ng-model="tempType" btn-radio="'c'">Custom</label>
                    </div>
                    <% a|date: "yyyy-MM-dd" %>
                    <div class="dropdown" ng-show="tempType === 'c'">
                        <a class="dropdown-toggle btn btn-custom">
                            <% (a|date)||"pick start" %> - <% (b|date)||"pick end" %>
                        </a>

                        <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                            <div date-range start="a" end="b" class="ng-isolate-scope"></div>
                        </div>

                        <button ng-click="getTemperatureChartByCustomDate(a,b)" type="button" class="btn btn-custom">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </button>
                    </div>



                    <button ng-click="getTemperatureChart(tempType)" type="button" class="btn btn-custom">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>

                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart">
                            <canvas id="line1" class="chart chart-line" data="tempData"
                                    labels="tempLabels" legend="true" series="tempSeries"
                                    click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!--<div class="panel-body col-lg-2" >-->

                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-custom">
                <div class="panel-heading" >
                    <h3 class="panel-title col-lg-8">Humidity</h3>
                    <div class="btn-group">
                        <label class="btn btn-custom" ng-change="getHumidityChart(humType)" ng-model="humType" btn-radio="'h'">Hour</label>
                        <label class="btn btn-custom" ng-change="getHumidityChart(humType)" ng-model="humType" btn-radio="'d'">Day</label>
                        <label class="btn btn-custom" ng-change="getHumidityChart(humType)" ng-model="humType" btn-radio="'w'">Week</label>
                        <label class="btn btn-custom" ng-change="getHumidityChart(humType)" ng-model="humType" btn-radio="'m'">Month</label>
                    </div>
                    <button ng-click="getHumidityChart(humType)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart">
                            <canvas id="line" class="chart chart-line" data="humData"
                                    labels="humLabels" legend="true" series="humSeries"
                                    click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-custom">
                <div class="panel-heading" >
                    <h3 class="panel-title col-lg-8">Wind Speed(km/h)</h3>
                    <div class="btn-group">
                        <label class="btn btn-custom" ng-change="getWindSpeedChart(windSpeedType)" ng-model="windSpeedType" btn-radio="'h'">Hour</label>
                        <label class="btn btn-custom" ng-change="getWindSpeedChart(windSpeedType)" ng-model="windSpeedType" btn-radio="'d'">Day</label>
                        <label class="btn btn-custom" ng-change="getWindSpeedChart(windSpeedType)" ng-model="windSpeedType" btn-radio="'w'">Week</label>
                        <label class="btn btn-custom" ng-change="getWindSpeedChart(windSpeedType)" ng-model="windSpeedType" btn-radio="'m'">Month</label>
                    </div>
                    <button ng-click="getWindSpeedChart(windSpeedType)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart">
                            <canvas id="line4" class="chart chart-line" data="windSpeedData"
                                    labels="windSpeedLabels" legend="true" series="windSpeedSeries"
                                    click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-custom">
                <div class="panel-heading" >
                    <h3 class="panel-title col-lg-8">Pressure(Pa)</h3>
                    <div class="btn-group">
                        <label class="btn btn-custom" ng-change="getPressureChart(pressureType)" ng-model="pressureType" btn-radio="'h'">Hour</label>
                        <label class="btn btn-custom" ng-change="getPressureChart(pressureType)" ng-model="pressureType" btn-radio="'d'">Day</label>
                        <label class="btn btn-custom" ng-change="getPressureChart(pressureType)" ng-model="pressureType" btn-radio="'w'">Week</label>
                        <label class="btn btn-custom" ng-change="getPressureChart(pressureType)" ng-model="pressureType" btn-radio="'m'">Month</label>
                    </div>
                    <button ng-click="getPressureChart(pressureType)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart">
                            <canvas id="line" class="chart chart-line" data="pressureData"
                                    labels="pressureLabels" legend="true" series="pressureSeries"
                                    click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-custom">
                <div class="panel-heading" >
                    <h3 class="panel-title col-lg-8">Light levels</h3>
                    <div class="btn-group">
                        <label class="btn btn-custom" ng-change="getLightChart(lightType)" ng-model="lightType" btn-radio="'h'">Hour</label>
                        <label class="btn btn-custom" ng-change="getLightChart(lightType)" ng-model="lightType" btn-radio="'d'">Day</label>
                        <label class="btn btn-custom" ng-change="getLightChart(lightType)" ng-model="lightType" btn-radio="'w'">Week</label>
                        <label class="btn btn-custom" ng-change="getLightChart(lightType)" ng-model="lightType" btn-radio="'m'">Month</label>
                    </div>
                    <button ng-click="getLightChart(lightType)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart">
                            <canvas id="line" class="chart chart-line" data="lightData"
                                    labels="lightLabels" legend="true" series="lightSeries"
                                    click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-custom">
                <div class="panel-heading" >
                    <h3 class="panel-title col-lg-8">Wind directions</h3>
                    <div class="btn-group">
                        <label class="btn btn-custom" ng-change="getWindDirectionChart(directionType)" ng-model="directionType" btn-radio="'h'">Hour</label>
                        <label class="btn btn-custom" ng-change="getWindDirectionChart(directionType)" ng-model="directionType" btn-radio="'d'">Day</label>
                        <label class="btn btn-custom" ng-change="getWindDirectionChart(directionType)" ng-model="directionType" btn-radio="'w'">Week</label>
                        <label class="btn btn-custom" ng-change="getWindDirectionChart(directionType)" ng-model="directionType" btn-radio="'m'">Month</label>
                    </div>
                    <button ng-click="getWindDirectionChart(directionType)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart">
                            <canvas id="line" class="chart chart-bar" data="directionData"
                                    labels="directionLabels" legend="true" series="directionSeries"
                                    click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-custom">
                <div class="panel-heading" >
                    <h3 class="panel-title col-lg-8">Rain</h3>
                    <div class="btn-group">
                        <label class="btn btn-custom" ng-change="getRainChart(rainType)" ng-model="rainType" btn-radio="'h'">Hour</label>
                        <label class="btn btn-custom" ng-change="getRainChart(rainType)" ng-model="rainType" btn-radio="'d'">Day</label>
                        <label class="btn btn-custom" ng-change="getRainChart(rainType)" ng-model="rainType" btn-radio="'w'">Week</label>
                        <label class="btn btn-custom" ng-change="getRainChart(rainType)" ng-model="rainType" btn-radio="'m'">Month</label>
                    </div>
                    <button ng-click="getRainChart(rainType)" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart">
                            <canvas id="line" class="chart chart-line" data="rainData"
                                    labels="rainLabels" legend="true" series="rainSeries"
                                    click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section color-dark bg-gray" style="padding-top: 50px; height: 100%;" ng-if="loading === true">
    <img src="img/preloader.GIF" width="68" class="center-block" alt="Location" />
</section>
<section class="home-section color-dark bg-gray" style="padding-top: 50px; height: 100%;" ng-if="loading === false && exist === false">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-4" style="color: #3dc9b3; font-size: 30px">
            Sorry, this station has no information!
        </div>
    </div>
</section>
</div>






