<div class="container widget">
    <div class="row">
        <div class="col-xs-12 bg">
            <div class="pull-left">
                <h3 class="title"><% selectedStationName %></h3>
            </div>
            <div class="pull-right text-center">
                <br />
                <img src="img/clock.png" width="48" alt="Location" />
                <br />
                <% time %>
            </div>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-xs-2 weather-days today">-->
            <!--<h3 style="font-family: inherit">Temp</h3>-->
                  <!--<span class="temp-title">-->
                    <!--<% temperature %>&deg;-->
                  <!--</span>-->
        <!--</div>-->
        <div class="col-xs-12">
            <div class="row" ng-show="has">
                <div class="weather-days col-xs-12 col-md-2">
                    <div>
                        <span class="badge">
                           Temperatūra
                        </span><br />
                        <span class="temp-title">
                          <% temperature %> &deg;C
                        </span><br />
                    </div>
                </div>
                <div class="weather-days col-xs-12 col-md-2">
                    <div>
                        <span class="badge">
                           Drėgmė
                        </span><br />
                        <span class="temp-title">
                          <% humidity %> %
                        </span><br />
                    </div>
                </div>
                <div class="weather-days col-xs-12 col-md-2">
                    <div>
                        <span class="badge">
                           Vėjo greitis
                        </span><br />
                        <span class="temp-title">
                          <% wind_speed %> km/h
                        </span><br />
                    </div>
                </div>
                <div class="weather-days col-xs-12 col-md-2">
                    <div>
                        <span class="badge">
                           Vėjo kryptis
                        </span><br />
                        <span class="temp-title">
                          <% wind_direction %>
                        </span><br />
                    </div>
                </div>
                <div class="weather-days col-xs-12 col-md-2">
                    <div>
                        <span class="badge">
                           Kritulių kiekis
                        </span><br />
                        <span class="temp-title">
                          <% rain %> mm
                        </span><br />
                    </div>
                </div>
                <div class="weather-days col-xs-12 col-md-2">
                    <div>
                        <span class="badge">
                           Slėgis
                        </span><br />
                        <span class="temp-title">
                          <% pressure %> Pa
                        </span><br />
                    </div>
                </div>
            </div>
            <div class="row" ng-show="!has">
                <div class="weather-days col-xs-12 col-md-12">
                    <span class="temp-title">
                        Ši stotelė neturi jokios informacijos...
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 pull-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i>Pasirinkite stotelę</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="dropdown">
                            <div>
                                <select class="form-control" ng-model="station" ng-init="station"  ng-change="setStationId(station)" ng-options="station1.station_name for station1 in stations">
                                    <option style="display:none" value="">Pasirinkite</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>