<div class="container">
    <div  ng-if="loaded1 === true && loaded2 === true">
        <section class="home-section color-dark bg-gray" style="padding-top: 50px">
            <div class="section-heading text-center">
                <h2 class="h-bold">Stotelės duomenys</h2>
                <div class="divider-header"></div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <button ng-click="tableParams.sorting({})" class="btn btn-custom pull-right">Išvalyti rikiavimą</button>
                    <table ng-table="tableParams" show-filter="true" class="table">
                        <tr ng-repeat="weather in $data" class="text-center">
                            <td data-title="'Temperatūra(&deg;C)'" sortable="'temperature'">
                                <% weather.temperature %>
                            </td>
                            <td data-title="'Drėgmė(%)'" sortable="'humidity'">
                                <% weather.humidity %>
                            </td>
                            <td data-title="'Šviesos lygis'" sortable="'light_level'">
                                <% weather.light_level %>
                            </td>
                            <td data-title="'Slėgis(Pa)'" sortable="'pressure'">
                                <% weather.pressure %>
                            </td>
                            <td data-title="'Vėjo kryptis(&deg;)'" sortable="'wind_direction'">
                                <% weather.wind_direction %>
                            </td>
                            <td data-title="'Vėjo greitis(km/h)'" sortable="'wind_speed'">
                                <% weather.wind_speed %>
                            </td>
                            <td data-title="'Kritulių kiekis(mm)'" sortable="'rain'">
                                <% weather.rain %>
                            </td>
                            <td data-title="'Data'" filter="{ 'created_at': 'text' }">
                                <% weather.created_at %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <section class="home-section color-dark bg-gray" style="padding-top: 50px" >
            <div class="section-heading text-center">
                <h2 class="h-bold">Visos stotelės sistemoje</h2>
                <div class="divider-header"></div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <button ng-click="tableParamsForStation.sorting({})" class="btn btn-custom pull-right" style="margin-bottom: 10px">Išvalyti rikiavimą</button>
                    <table ng-table="tableParamsForStation"  show-filter="false" class="table" >

                        <tr ng-repeat="station in $data" class="text-center">
                            <td data-title="'Id'" sortable="'id'">
                                <% station.id %>
                            </td>
                            <td data-title="'Stotelės vardas'" sortable="'station_name'">
                                <% station.station_name %>
                            </td>
                            <td data-title="'Vieta'" sortable="'location'">
                                <% station.location %>
                            </td>
                            <td data-title="'Aprašymas'" sortable="'description'">
                                <% station.description %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <section class="home-section color-dark bg-gray" style="padding-top: 50px; height: 100%;" ng-if="loaded1 === false || loaded2 === false">
        <img src="img/preloader.GIF" width="68" class="center-block" alt="Location" />
    </section>
</div>
