<div class="container">
    <section class="home-section color-dark bg-gray" style="padding-top: 50px" >
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <button ng-click="tableParams.sorting({})" class="btn btn-custom pull-right">Clear sorting</button>
            <table ng-table="tableParams" show-filter="true" class="table">
                <tr ng-repeat="weather in $data" class="text-center">
                    <td data-title="'Temperature'" sortable="'temperature'">
                        <% weather.temperature %>
                    </td>
                    <td data-title="'Humidity'" sortable="'humidity'">
                        <% weather.humidity %>
                    </td>
                    <td data-title="'Light level'" sortable="'light_level'">
                        <% weather.light_level %>
                    </td>
                    <td data-title="'Pressure'" sortable="'presure'">
                        <% weather.pressure %>
                    </td>
                    <td data-title="'Wind direction(degrees)'" sortable="'wind_direction'">
                        <% weather.wind_direction %>
                    </td>
                    <td data-title="'Wind Speed'" sortable="'wind_speed'">
                        <% weather.wind_speed %>
                    </td>
                    <td data-title="'Rain'" sortable="'rain'">
                        <% weather.rain %>
                    </td>
                    <td data-title="'Date'" filter="{ 'created_at': 'text' }">
                        <% weather.created_at %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </section>
    <section class="home-section color-dark bg-gray" style="padding-top: 50px" >
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <button ng-click="tableParamsForStation.sorting({})" class="btn btn-custom pull-right">Clear sorting</button>
                <table ng-table="tableParamsForStation" show-filter="true" class="table">
                    <tr ng-repeat="station in $data" class="text-center">
                        <td data-title="'Id'" sortable="'id'">
                            <% station.id %>
                        </td>
                        <td data-title="'Station name'" sortable="'station_name'">
                            <% station.station_name %>
                        </td>
                        <td data-title="'Location'" sortable="'location'">
                            <% station.location %>
                        </td>
                        <td data-title="'description'" sortable="'description'">
                            <% station.description %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <!--<script type="text/ng-template" id="ng-table/filters/dobRange.html">-->
        <!--<input type="daterange" ng-model="params.dateRange">-->
    <!--</script>-->
</div>
